# General
.svn/
.git/
log/
temp/
.log
.temp
.backup
.bak
.DS_Store

# Python
.env2
.env3

# NodeJS
dist/
node_modules/
package-lock.json
yarn.lock
yarn-error.log
npm-debug.log*

# Java
target/
.project

# IDEA
.idea/
*.iml

# Visual Studio Code
.vscode/

# umi
.umi
.umi-production

# Temp
.temp
.1
.2
.3
.4
.5
